<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%">
      <tr>
        <th>Item/Customer</th>
        <th>Customer1</th>
        <th>Customer2</th>
        <th>Total</th>
      </tr>
      <tr>
        <th>Quantity</th>
        <th>cus1quantity</th>
        <th>cus2quantity</th>
        <th>sumQuantity</th>
      </tr>
      <tr>
        <th>Weight</th>
        <th>cus1weight</th>
        <th>cus2weight</th>
        <th>sumWeight</th>
      </tr>
      <tr>
        <th>Box Count</th>
        <th>cus1box_count</th>
        <th>cus2box_count</th>
        <th>sumQuan</th>
      </tr>
    </table>
  </body>
</html>
